<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="../static/css/profile.css" />
    <link rel="stylesheet" href="../static/css/navbar.css">
  </head>
  <body>
    <nav class="primary-navigation">
      <div class="left-nav">
        <div class="logo">
          <img src="../static/images/logo.png" alt="logo" />
        </div>
      </div>
      <div class="right-nav">
        <div class="user-name hover-underline-animation">USER</div>
        <div class="user-profile">U</div>
      </div>

      <div class="secondary-navigation-cluster">
        <button class="nav-btn" id="home-href">home</button>
        <button class="nav-btn" id="chat-href">chat</button>
        <button class="nav-btn" id="reels-href">reels</button>
        <button class="nav-btn" id="consultancy-href">consultancy</button>
      </div>
    </nav>
    <div class="main_div">
      <div class="image">
        <div class="circle">S</div>
      </div>
      <div class="details">
        <div class="username details_child">
          <p class="">Username: </p>
          <input type="text" disabled />
        </div>
        <div class="first_name details_child">
          <p>First Name: </p>
          <input type="text" disabled />
        </div>
        <div class="last_name details_child">
          <p>Last Name: </p>
          <input type="text" disabled />
        </div>
        <div class="email_id details_child">
          <p>Email ID: </p>
          <input type="text" disabled />
        </div>
        <div class="phone_number details_child">
          <p>Phone Number: </p>
          <input type="text" disabled />
        </div>
        <div class="date_of_birth details_child">
          <p>Date of Birth: </p>
          <input type="text" disabled />
        </div>
      </div>
    </div>
  </body>
  <script src="../static/navbar.js"></script>
</html>
